In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df1 = pd.read_csv('Books.csv')
df2 = pd.read_csv('Users.csv')
df3 = pd.read_csv('Ratings.csv')

C:\Users\neogi\AppData\Local\Temp\ipykernel_21648\313137139.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('Books.csv')

In [7]:
#Merge Ratings and Books, based on a book's ISBN
df4=pd.merge(df1,df3, on='ISBN')
df4.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5
2,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11400,0
3,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,11676,8
4,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,41385,0

In [40]:
#Merge Ratings and Books and Users, based on User-ID
df5=pd.merge(df4,df2, on='User-ID')
#Drop IMAGE columns
df5.drop(['Image-URL-S', 'Image-URL-M', 'Image-URL-L'], axis=1, inplace=True)
#Final df
df5.head()
df5.shape

(1031136, 9)

In [17]:
#Find the book with most number of ratings
df5.groupby('Book-Title')['Book-Rating'].count().sort_values(ascending=False).head()

Book-Title
Wild Animus                   2502
The Lovely Bones: A Novel     1295
The Da Vinci Code              898
A Painted House                838
The Nanny Diaries: A Novel     828
Name: Book-Rating, dtype: int64

In [19]:
#Average rating of each book. Create a ratings DF
ratings = pd.DataFrame(df5.groupby('Book-Title')['Book-Rating'].mean())
ratings.head()

                                                    Book-Rating
Book-Title
A Light in the Storm: The Civil War Diary of Am...         2.25
Always Have Popsicles                                      0.00
Apple Magic (The Collector's series)                       0.00
Ask Lily (Young Women of Faith: Lily Series, Bo...         8.00
Beyond IBM: Leadership Marketing and Finance fo...         0.00

In [24]:
#Average rating+Num of ratings DF
ratings['num of ratings'] = pd.DataFrame(df5.groupby('Book-Title')['Book-Rating'].count())
ratings.sort_values('num of ratings',ascending=False).head(20)

,Book-Rating,num of ratings
Book-Title,,
Wild Animus,1.019584,2502
The Lovely Bones: A Novel,4.468726,1295
The Da Vinci Code,4.642539,898
A Painted House,3.231504,838
The Nanny Diaries: A Novel,3.530193,828
Bridget Jones's Diary,3.527607,815
The Secret Life of Bees,4.447028,774
Divine Secrets of the Ya-Ya Sisterhood: A Novel,3.437838,740
The Red Tent (Bestselling Backlist),4.334716,723
Angels &amp; Demons,3.708955,670
Life of Pi,4.088855,664
Snow Falling on Cedars,3.252266,662
The Summons,3.432061,655
The Notebook,3.560000,650
The Testament,3.179903,617
House of Sand and Fog,3.030612,588
Where the Heart Is (Oprah's Book Club (Paperback)),4.105983,585
The Pelican Brief,2.611015,581
Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback)),4.895652,575
The Girls' Guide to Hunting and Fishing,3.139616,573

# Choosing top 5 authors

In [70]:
#This dataset is quite large, so we'll work with a smaller dataset
#Find out the top 5 authors
top5authors=pd.DataFrame(df5['Book-Author'].value_counts().head(5))
top5authors

                    count
Book-Author
Stephen King        10053
Nora Roberts         8429
John Grisham         6010
James Patterson      5845
Mary Higgins Clark   4777

In [71]:
rowlabels = top5authors.index.values
rowlabels

array(['Stephen King', 'Nora Roberts', 'John Grisham', 'James Patterson',
       'Mary Higgins Clark'], dtype=object)

# Data Subset based on top 5 authors

In [77]:
#Smaller df
df6=df5[df5["Book-Author"].isin(['Stephen King', 'Nora Roberts', 'John Grisham', 'James Patterson',
       'Mary Higgins Clark'])]
df=df6[['User-ID','Book-Title','Book-Rating']]
df.shape

(35114, 3)

In [82]:
#Creating a pivot table for pandas series correlation
bookmat = df.pivot_table(index='User-ID',columns='Book-Title',values='Book-Rating')
bookmat.tail()

Book-Title,'Salem's Lot,1st to Die,1st to Die British Edition,1st to Die: A Novel,2nd Chance,2nd Chance (Women's Murder Club (Audio)),"3 Complete Novels: True Betrayals, Montana Sky, Sanctuary",3rd Degree,A Cry In The Night,A Cry in the Night,...,"Wizard and Glass (The Dark Tower, Book 4)","Wo waren Sie, Dr. Highley? Roman.","Wolves of the Calla (The Dark Tower, Book 5)",YOU BELONG TO ME,YOU BELONG TO ME CASSETTE,YOU BELONG TO ME LARGE PRINT EDITION,You Belong To Me,You Belong to Me,Young Blood,Ã?Â?a
User-ID,,,,,,,,,,,,,,,,,,,,,
278698,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278781,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Find books similar to THE PELICAN BRIEF BY JOHN GRISHAM

In [83]:
#CORRWITH FUNCTION
pelicanbrief_user_ratings = bookmat['The Pelican Brief']
similar_to_pelicanbrief = bookmat.corrwith(pelicanbrief_user_ratings)
similar_to_pelicanbrief

C:\Users\neogi\Documents\Python_venv\Lib\site-packages\numpy\lib\function_base.py:2889: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
C:\Users\neogi\Documents\Python_venv\Lib\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)
C:\Users\neogi\Documents\Python_venv\Lib\site-packages\numpy\lib\function_base.py:2748: RuntimeWarning: invalid value encountered in multiply
  c *= np.true_divide(1, fact)
C:\Users\neogi\Documents\Python_venv\Lib\site-packages\numpy\lib\function_base.py:2897: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
C:\Users\neogi\Documents\Python_venv\Lib\site-packages\numpy\lib\function_base.py:2898: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

Book-Title
'Salem's Lot                            0.193442
1st to Die                                   NaN
1st to Die British Edition                   NaN
1st to Die: A Novel                     0.328863
2nd Chance                              0.529243
                                          ...
YOU BELONG TO ME LARGE PRINT EDITION         NaN
You Belong To Me                        0.222229
You Belong to Me                             NaN
Young Blood                                  NaN
Ã?Â?a                                        NaN
Length: 918, dtype: float64

In [85]:
corr_pelicanbrief = pd.DataFrame(similar_to_pelicanbrief,columns=['Correlation'])
corr_pelicanbrief.dropna(inplace=True)
corr_pelicanbrief.head()

                     Correlation
Book-Title
'Salem's Lot            0.193442
1st to Die: A Novel     0.328863
2nd Chance              0.529243
3rd Degree             -0.142072
A Cry In The Night      0.651634

In [81]:
corr_pelicanbrief.sort_values('Correlation',ascending=False).head(10)

                                                    Correlation
Book-Title
WHILE MY PRETTY ONE SLEEPS                                  1.0
Time Was (Silhouette Intimate Moments, No 313)              1.0
Pride Of Jared Mackade (The Mackade Brothers/) ...          1.0
Captive Star                                                1.0
The Pelican Brief                                           1.0
Entranced (Silhouette Special Edition, 774)                 1.0
Winning Hand (Silhouette Special Edition , No 1...          1.0
Song of Susannah (The Dark Tower, Book 6)                   1.0
Dance Upon The Air (First in the bewitching new...          1.0
Four Past Midnight (Novella from Four Past Midn...          1.0

In [100]:
df_new=pd.merge(ratings,corr_pelicanbrief, on='Book-Title')
df_new.sort_values(by=['Correlation', 'num of ratings_y'],ascending=False).head(20)

,Book-Rating,num of ratings_x,Correlation,num of ratings_y
Book-Title,,,,
The Pelican Brief,2.611015,581,1.000000,581
Captive Star,3.090909,44,1.000000,44
"Pride Of Jared Mackade (The Mackade Brothers/) (Silhouette Special Edition, No 1000)",3.260870,23,1.000000,23
"Song of Susannah (The Dark Tower, Book 6)",5.687500,16,1.000000,16
"Winning Hand (Silhouette Special Edition , No 1202)",2.625000,16,1.000000,16
WHILE MY PRETTY ONE SLEEPS,2.066667,15,1.000000,15
"Entranced (Silhouette Special Edition, 774)",2.250000,4,1.000000,4
"Time Was (Silhouette Intimate Moments, No 313)",4.500000,2,1.000000,2
A Time to Kill,3.122040,549,1.000000,549
The Runaway Jury,2.880769,520,1.000000,520
Four Past Midnight (Novella from Four Past Midnight),1.846154,13,1.000000,13
Eyes of the Dragon: A Story,5.625000,8,1.000000,8
Blood And Smoke Cd,5.333333,6,1.000000,6
Dance Upon The Air (First in the bewitching new Three Sisters Island trilogy),7.500000,2,1.000000,2
Dead Zone,3.590909,22,0.962250,22
"The Bachman Books: Rage, the Long Walk, Roadwork, the Running Man",3.276923,65,0.924780,65
Kitchen Privileges : A Memoir,3.666667,36,0.848122,36
"Fall Of Shane Mackade (The Mackade Brothers) (Silhouette Special Edition, No 1022)",3.095238,21,0.819288,21
Rising Tides,2.439655,116,0.809841,116
The Thomas Berryman Number,2.038462,26,0.772853,26

# Conclusion

The recommender system suggests that people who like 'The Pelican Brief' by John Grisham will also like books by Nora Roberts and Stephen King. Other books highly correlated with 'The Pelican Brief' are 'A Time to Kill' and 'The Runaway Jury'. Both are Grisham's works.